{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
     "prettier-plugin-tailwindcss"
  ],
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
