.grandchild-content {
  display: none; /* Initially hidden */
}

.dropdown:hover .dropdown-content .grandchild-content {
  display: block;
}

.nav-pl {
  padding-left: calc(3vw - 22px);
}

@keyframes flyInLeftToRight {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  70% {
    transform: translateX(0);
    opacity: 1;
  }
}

.flyInLeftToRight {
  animation: flyInLeftToRight 0.5s ease forwards; /* Adjust timing as needed */
}
