/* Define custom fonts */
@font-face {
  font-family: 'nunito';
  src: url('@/assets/fonts/nunito/Nunito.ttf') format('truetype');
}

@font-face {
  font-family: 'nunito-italic';
  src: url('@/assets/fonts/nunito/Nunito-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'nunitosans';
  src: url('@/assets/fonts/nunitosans/NunitoSans-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'nunitosans-italic';
  src: url('@/assets/fonts/nunitosans/NunitoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Monument Extended Regular';
  src: url('@/assets/fonts/monument/MonumentExtended-Regular.otf')
    format('opentype');
}
@font-face {
  font-family: 'Monument Extended Ultrabold';
  src: url('@/assets/fonts/monument/MonumentExtended-Ultrabold.otf')
    format('opentype');
}
