@import 'fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Mono:wght@400;700&display=swap');
@import url('@tldraw/tldraw/tldraw.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    /* Sidebar */
    --hovering: 0 0% 80%;
    /* Project page */
    --project_text: 216, 20%, 26%;
    --tab_group: 220, 14%, 96%;
    /* Setting page */
    --seting_tab: 0, 0%, 100%;

    /* Project page - task discussion */
    --discussion_background: 0, 0%, 100%;
    --discussion_border: 220, 13%, 90%;
    --comment_text: 216, 9.3%, 45%;
    --comment_background: 210 20% 98%;
    --comment_hover: 210, 16%, 96%;
    --plus_text: 0, 0%, 50%, 0.6;
    --plus_background: 0, 0%, 75%, 0.4;
    --plus_text_hover: 240, 10%, 0%;
    --plus_background_hover: 0, 0%, 75%, 0.5;
    --tab_group: 0, 0%, 99%, 1;

    /* Auth page */
    --auth_form_border: 0, 0%, 0%, 0.3;
    --signup_complete_text: 158, 83%, 37%;

    /* 404 page */
    --not_found_background: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  :root[data-theme='dark-default'] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    /* Sidebar */
    --hovering: 100 10% 90%;
    /* Project page */
    --project_text: 0, 0%, 100%;
    --tab_group: 216, 20%, 26%;

    /* Setting page */
    --seting_tab: 240, 4%, 16%;

    /* Project page - task discussion */
    --discussion_background: 216, 19%, 26%;
    --discussion_border: 220, 14%, 96%;
    --comment_text: 0, 0%, 100%;
    --comment_background: 215 13.9% 34.1%;
    --comment_hover: 216, 19%, 26%;
    --plus_text: 40, 0%, 100%;
    --plus_background: 200 10% 20%;
    --plus_text_hover: 0, 0%, 100%;
    --plus_background_hover: 10 0% 10%;
    --tab_group: 0, 0%, 14%, 1;

    /* Auth page */
    --auth_form_border: 100, 10%, 90%, 0.3;
    --signup_complete_text: 167, 72%, 60%;

    /* 404 page */
    --not_found_background: 0, 0%, 14.1%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    /* Sidebar */
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Define @font-face rules */
.nunito {
  font-family: nunito, sans-serif;
}

.font-monument {
  font-family: 'Monument Extended Regular', sans-serif;
}

.font-monument-bold {
  font-family: 'Monument Extended Ultrabold', sans-serif;
}

* {
  font-family: nunito;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: auto;
    scrollbar-width: none;
  }
}

* {
  box-sizing: border-box;
}
