@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .no-scrollbar::-webkit-scrollbar{
        display: none;
    }
    
    .no-scrollbar{
        -ms-overflow-style: auto;
        scrollbar-width: none;
    }
}

* {
    box-sizing: border-box;
}